
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}


.btn-pengguna {
    margin-right: 3em;
}

#formSearch{
    margin-right: 10em;
}


.form-control{
    width: 20em;
}

.card{
    justify-content: center;
}


/* Style icon fontawesome */
.fa-building{
    color: green;
}

.fa-user{
    color: green;
}

.fa-wrench{
    color: green;
}

.fa-pen{
    color:white;
}

.nama-pt{
    top: 75%;
    right:0px;
}

.gambar-pt{
}


a{
    text-decoration: none;
}



