
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}


/* .btn-pengguna {
    margin-right: 3em;
} */

#formSearch{
    margin-right: 10em;
}


.form-control{
    width: 20em;
}

.card{
    justify-content: center;
}




/* Style icon fontawesome */
.fa-building{
    color: green;
}

.fa-user{
    color: green;
}

.fa-wrench{
    color: green;
}

.fa-pen{
    color:white;
}

.nama-pt{
    padding-top: 1em;
    font-size:large;
    font-weight:bold;
    top: 12em;
    
}

/* login */
.authentication-bg{
    margin-top: 7em;
}

.auth-page-sidebar{
    background-image:linear-gradient(to bottom, rgb(1, 167, 81), rgb(40, 210, 122));
}


a{
    text-decoration: none;
}

/* table */
.table {
    /* table-layout: fixed;
    width: 100%; */
}



